.empty_field_message{
    margin: 2rem 0 !important;
}

.letter-density-item {
    display: flex;
    align-items: center;
    margin-block: var(--spacing-250);
    color: var(--text-color);
}
.progress-bar {
    width: 100%;
    background-color: var(--neutral-800);
    height: 12px;
    position: relative;
    margin-inline: var(--spacing-100);
    border-radius: var(--radius-full);
    overflow: hidden;
}

.progress-bar-filled {
    position: absolute;
    height: 100%;
    background-color: var(--purple-400);
}

.letter-density-item--value {
    margin-right: var(--spacing-050);
}

.letter-list--more{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: all .3s;
}
.letter-list--more svg,
.letter-list--more.less svg
{
    transition: all .3s;
}

.letter-list--more.less svg{
    transform: rotate(180deg);
}